<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877762384475-hlsk10974r2rlbc7c8qdnv4qtf80v3m8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877762384475-hlsk10974r2rlbc7c8qdnv4qtf80v3m8</string>
	<key>API_KEY</key>
	<string>AIzaSyATMxSCV_2seYYgm7qsALPdii5daU2L_9A</string>
	<key>GCM_SENDER_ID</key>
	<string>877762384475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nova.tripyojana</string>
	<key>PROJECT_ID</key>
	<string>tripyojana</string>
	<key>STORAGE_BUCKET</key>
	<string>tripyojana.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877762384475:ios:70b0d5a7cacd40b01fa57e</string>
</dict>
</plist>